<!-- remove material design and instead use owl carousal -->

<div class="tabsdemoStaticTabs">
  <md-input-container class="md-block" flex-gt-sm>
        <label>Full name (ex. Jonathan Doe)</label>
        <md-icon><i class="material-icons">&#xE7FD;</i></md-icon>
        <input ng-model="fullname">
      </md-input-container>
  <md-input-container class="md-block" flex-gt-sm>
        <label>Email address (ex. doeJonathan@gmail.com)</label>
        <md-icon><i class="material-icons">&#xE0BE;</i></md-icon>
        <input ng-model="email">
      </md-input-container>
  <md-input-container class="md-block" flex-gt-sm>
        <label>Phone number (ex. +9122312311)</label>
        <md-icon><i class="material-icons">&#xE0CD;</i></md-icon>
        <input ng-model="phonenumber">
      </md-input-container>
  <md-input-container class="md-block" flex-gt-sm>
        <label>Website (ex. http://www.howtowebby.com)</label>
        <md-icon><i class="material-icons">&#xE157;</i></md-icon>
        <input ng-model="website">
      </md-input-container>

  <md-button class="md-raised md-primary" ng-click="saveBasicInfo()" style="background-color:#521508">Save</md-button>
  <md-button class="md-raised md-primary" href="#/experiences" style="background-color:#87411C">Next ➔</md-button>
</div>
