<div>
  <section style="" class="splash-header">
    <div layout-align="center center" class="alignCenter md-headline mainHeadline">
        Resume.com is the best place to build and post your resume online at no cost to you. Not only is it free, but it’s easy to sign up. Once you have posted a resume to our site, you can access it from anywhere! Use our free resume builder to create the perfect resume online in just minutes.
    </div>
    <div layout-align="center center" class="alignCenter startBtn">
      <md-button href="#/summary" class="md-raised md-primary material-cust-medium-button" md-colors="{background: 'green'}">Start building your Resume ➔</md-button>
    </div>

  </section>

  <div layout="row" layout-xs="column" class="functionalityIcons">
    <div flex layout="column" layout-align="center center">
      <div class="md-list-item-text">
        <p>
          <md-icon style="color: #D81B60;height:100%;width: inherit !important;font-size: 100px;"
                           aria-label="accessibility"
                           ng-class="md-48">
                           print
                        </md-icon>
        </p>
      </div>
      <div><p class="funcText">Print</p></div>
    </div>
    <div flex layout="column" layout-align="center center">
      <div class="md-list-item-text" layout-align="center center">
        <p>
          <md-icon style="color: #3949AB;height:100%;width: inherit !important;font-size: 100px;"
                           aria-label="accessibility"
                           ng-class="md-48">
                           share
                        </md-icon>
          </p>
      </div>
      <div><p class="funcText">Share</p></div>
    </div>
    <div flex layout="column" layout-align="center center">
      <div class="md-list-item-text" layout-align="center center">
        <p>
          <md-icon style="color: #FFC107;height:100%;width: inherit !important;font-size: 100px;"
                           aria-label="accessibility"
                           ng-class="md-48">
                           file_download
                        </md-icon>
        </p>
      </div>
      <div><p class="funcText">Download</p></div>
    </div>
  </div>

  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <img ng-src="images/resume-style4.png" width="740" height="382" class="md-card-image" alt="Washed Out">
    </div>


    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <img ng-src="images/alex-resume.jpg" width="740" height="382" class="md-card-image" alt="Washed Out">
    </div>



    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <img ng-src="images/resume-style4.jpg" width="740" height="382" class="md-card-image" alt="Washed Out">
    </div>

  </md-content>

 <span style="display:inline-block; height: 50px;"></span>

  <md-content class="md-padding" layout-xs="column" layout="row">


    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <img ng-src="images/alex-resume.jpg" width="740" height="382" class="md-card-image" alt="Washed Out">
    </div>

    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <img ng-src="images/resume-style4.png" width="740" height="382" class="md-card-image" alt="Washed Out">
    </div>


    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <img ng-src="images/resume-style4.jpg" width="740" height="382" class="md-card-image" alt="Washed Out">
    </div>

  </md-content>


  <span style="display:inline-block; height: 50px;"></span>


  <div class = "ifr">
      <iframe src="https://www.headhonchos.com/" width="1760" height="760"></iframe>
  </div>



  <style media="screen">
    div.ifr {
      text-align:center;
      width:100%;
    }
  </style>
</div>
