<div>
  <section style="" class="splash-header">
    <div layout-align="center center" class="alignCenter md-headline mainHeadline">
        Resume.com is the best place to build and post your resume online at no cost to you. Not only is it free, but it’s easy to sign up. Once you have posted a resume to our site, you can access it from anywhere! Use our free resume builder to create the perfect resume online in just minutes.
    </div>
    <div layout-align="center center" class="alignCenter startBtn">
      <md-button href="#/summary" class="md-raised md-primary material-cust-medium-button" md-colors="{background: 'green'}">Start building your Resume ➔</md-button>
    </div>

  </section>


 <span style="display:inline-block; height: 50px;"></span>



  <span style="display:inline-block; height: 50px;"></span>


  <div class = "ifr">
      <iframe src="https://www.headhonchos.com/" width="100%" height="760"></iframe>
  </div>



  <style media="screen">
    div.ifr {
      text-align:center;
      width:100%;
    }
  </style>
</div>
