<div class="tabsdemoStaticTabs">
  <md-input-container class="md-block">
      <label>Your Objective</label>
      <md-icon><i class="material-icons">&#xE896;</i></md-icon>
      <textarea ng-model="biography" md-maxlength="500" rows="5" md-select-on-focus></textarea>
    </md-input-container>
  <!-- <md-button class="md-raised md-primary" ng-click="saveSummery()" md-colors="{background: 'red-A200'}">Save</md-button> -->
  <md-button class="md-raised md-primary" ng-click="saveSummery()" style="background-color:#521508">Save</md-button>

  <md-button class="md-raised md-primary" href="#/basicinfo" style="background-color:#87411C">Next ➔</md-button>
</div>
